@import './normalize.scss';
html,
body {
	width: 100vw;
	height: 100vh;
	box-sizing: border-box;
	overflow: hidden;
	font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial,
		sans-serif;
}
// 富文本编辑器
.w-e-toolbar,
.w-e-text-container {
	z-index: 99 !important;
}
