// sidebar
$menuText: #bfcbd9;
$menuActiveText: #fff;
$menuBg: #001529;
$menuBgHover: #0960bd;
$sideBarWidth: 210px;
// 主题色
$colorPrimary: #008080;
$colorSuccess: #67c23a;
$colorWarning: #e6a23c;
$colorDanger: #f56c6c;
$colorInfo: #909399;
